.overlay-bg{
    position: relative;
    overflow: hidden !important;
}
.overlay-bg .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.699) 0%,rgba(158, 48, 5, 0.61) 100%);
    border-radius: 20px;
    
}

.overlay-bg img{
    width: 100%;
    border-radius: 20px;
}


.text-icon{
    display: flex;
    
}

.text-icon .icon{
    font-size: 15px !important;
}

.fit-image{
    width: 100%;
    height: 500px;
    object-fit:cover;
    object-position: 0px 0px;
    max-width: 500px;
    
}